<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EyeAdvert | Billboard</title>
       <meta charset="UTF-8">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c8c0f601c2.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Css Styles -->
       <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/look.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/sy.css" type="text/css">
    <link rel="stylesheet" href="/static/css/scrolling-nav.css" type="text/css">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'shared-header.html' %}
 <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/static/images/back3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ detailboard.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="">{{ detailboard.Category }}</a>
                            <span>{{ detailboard.Company }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{ detailboard.image.url }}" alt="">
                        </div>

{#                        <div class="product__details__pic__slider owl-carousel">#}
{#                            <img data-imgbigurl="/static/img/product/details/product-details-2.jpg"#}
{#                                src="/static/img/product/details/thumb-1.jpg" alt="">#}
{#                            <img data-imgbigurl="/static/img/product/details/product-details-3.jpg"#}
{#                                src="/static/img/product/details/thumb-2.jpg" alt="">#}
{#                            <img data-imgbigurl="/static/img/product/details/product-details-5.jpg"#}
{#                                src="/static/img/product/details/thumb-3.jpg" alt="">#}
{#                            <img data-imgbigurl="/static/img/product/details/product-details-4.jpg"#}
{#                                src="/static/img/product/details/thumb-4.jpg" alt="">#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ detailboard.name }}</h3>

                        <div class="product__details__price">{{ detailboard.price }} Rs</div>
                        <p>{{ detailboard.description }}</p>
                        <div class=" product__details__quantity">
                            <div class="quantity">
                                Call to Order:
                            </div>
                        </div>
                        <a href="tel:{{ config.phone_number }}" class="primary-btn test1">{{ detailboard.Phone }}</a>
                        <ul>
                            <li><b>Medium</b> <span>{{detailboard.Medium}}</span></li>
                            <li><b>Availability</b> <span>{{detailboard.availability}}</span></li>
                            <li><b>Area Covered</b> <span>{{ detailboard.Areacoverd }} </span></li>

                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="{{detailboard.facebook}}"><i class="fa fa-facebook"></i></a>
                                    <a href="{{detailboard.insta}}"><i class="fa fa-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->






{% include 'shared-footer.html' %}
</body>
</html>