<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
    <title>home</title>
  <link rel="stylesheet" href="/static/css/home1.css">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c8c0f601c2.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Css Styles -->
       <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/look.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/sy.css" type="text/css">
    <link rel="stylesheet" href="/static/css/scrolling-nav.css" type="text/css">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
{% include "shared-header.html" %}

<div class="bg-image container-fluid"></div>
<div class="row">
<div class="bg-text good">
  <h1>Looking for Adds to Display?</h1>
  <h2>Outdoor Advertisement</h2>
  <div class="bt">
      <a href="#adv"><button  type="button" class=" btn btn-primary "> Click Here  </button></a>
    </div>
</div>

</div>
<!--recommended sites-->
<section class="categories">
        <div class="row">
            <div class="col-lg-12">
                    <div class="section-title test4">
                        <h2>Recommended Sites</h2>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for rec in recommend.all %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{rec.image.url}}"  >
                            <h5><a href="#">{{rec.summary}}</a></h5>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
        </div>

    </section>
    <!-- recommended -->
<!--billboard-->
<section  class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title test4">
                        <h2>Billboard Inventory</h2>
                    </div>

                </div>
            </div>
            <div class="row featured__filter">
                {% for add in billadd.all %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="image-fluid featured__item__pic set-bg" data-setbg="{{add.image.url}}">
                            <!--upvote
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        -->
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="advertise/{{add.id}}/">{{add.name}}</a></h6>
                            <h5>{{add.price}} Rs</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>
<!--billboard-->


<!--Outdoor-->
<section id="adv" class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title test4">
                        <h2>Outdoor Inventory</h2>
                    </div>

                </div>
            </div>
            <div class="row featured__filter">
                {% for out in outadd.all %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="image-fluid featured__item__pic set-bg" data-setbg="{{out.image.url}}">
                            <!--upvote
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        -->
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/advertise/outdoor/{{out.id}}/">{{out.name}}</a></h6>
                            <h5>{{out.price}} Rs</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

    <!---Advertisement--->

<!--Blog section --->
 <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title test4">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
                    <div class="row">
                        {% for blog in allblog %}
                        <div class="col-sm-4">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                   <a href="blog/{{ blog.id }}/"> <img class = "image-fluid rounded float" src="{{blog.image.url}}" height = 258 width=200 /></a>
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {{blog.date_pretty}}</li>
                                        <li><i class="fa fa-comment-o"></i> {{blog.Comment}}</li>
                                    </ul>
                                    <h5><a href="blog/{{ blog.id }}/">{{blog.summary}}</a></h5>
                                    <p>{{blog.text_pretty}}</p>
                                    <a href="blog/{{ blog.id }}/" class="blog__btn">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        </div>
                        </div>

    </section>



{% include "shared-footer.html" %}
</body>
</html>