<!-- Shared Footer Starts -->
<!-- Footer Section Begin -->

<footer id="aboutus" class=" footer spad">
    <div class=" container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class=" footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/static/img/6.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: AlRaheem Garden Phase-5</li>
                        <li>Phone: 0309-4223553</li>
                        <li>Email: eyeadvert012@gmail.com </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget section-title test4">

                           <h2>About Us</h2>
                    <br/>
                    <p>
                  EyeAdvert is a platform meant to revolutionize advertising industry. Advertising industry of Pakistan, being run on outdated system, has a great potential for change. It can boost the economy and bring more power to advertisements overall. Furthermore, there’s lack of transparency in this business at the moment. Our proposed idea will support the government in documenting all the undocumented data so that taxes could be claimed rightfully.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget ">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail about our latest products and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn test1">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="https://www.facebook.com/EyeAdvert-111649233951911"><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
 <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | To EyeAdvert | Our Developer <a href="https://www.linkedin.com/in/muhammad-zain-javed-8ba8311b0/" >M.Zain</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
            </div>

</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>


<!-- Shared Footer End-->