

  <nav class=" navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <div class="bad container p-2">
      <a class="navtext navbar-brand js-scroll-trigger" href="/"><h4 class="colorbar"><i class="far fa-eye"></i>EyeAdvert</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="/"><h6>Home</h6></a>
          </li>
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="/blog/"><h6>Blog</h6></a>
          </li>
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="#contact"><h6>Contact</h6></a>
          </li>
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="#aboutus"><h6>About Us</h6></a>
          </li>
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="/accounts/login"><h6> Login <i class="fas fa-sign-in-alt"></i> </h6>   </a>
          </li>
          <li class="nav-item">
            <a class="text nav-link js-scroll-trigger" href="/accounts/signup"><h6> Signup <i class="fas fa-user-plus">  </i></h6> </a>
          </li>
        </ul>
      </div>

        </div>

  </nav>

