<!-- Shared Footer Starts -->
<!-- Footer Section Begin -->

<footer id="aboutus" class=" footer spad">
    <div class=" container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class=" footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/static/img/6.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: {{ config.address }}</li>
                        <li>Phone: {{ config.phone_number }}</li>
                        <li>Email: {{ config.email }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget section-title test4">

                           <h2>About Us</h2>
                    <br/>
                    <p>
                    Tickabrand has brought you all social media hits and home-based brands available at a single website. That's why we call it a hub of emerging brands and hygienic food. Our partner brands have gain positive reputation by putting their heart & soul into creating wonderful handmade items. We will keep you connected with different home bakers, artists, creators, chefs & more across Lahore, all in one place.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget ">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail about our latest products and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn test1">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="{{ config.facebook_page_link }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ config.twitter_link }}"><i class="fa fa-twitter"></i></a>
                        <a href="{{ config.insta_link }}"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/scrolling-nav.js"></script>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>


<!-- Shared Footer End-->